<footer class="footer mt-auto">
    <div class="container py-3">
        <p class="text-center pt-2"><strong>Gujarat Stats: Total Schools - 33,348, Total Students - 11,92,453, Total Cities - 33</strong></p>
    </div>
</footer>