<%layout('layouts/boilerplate.ejs')%>
  <div class="text-center mb-3 mx-auto" style="width: 18rem; height:18rem; border: none;">
    <div class="card-body p-3 align-middle">
      <a href="/studentportal/school/new" class="btn p-5" style="background: linear-gradient(325.27deg, #019633 3.12%, rgba(247, 147, 30, 0.96) 61.51%); color: white; width: 15rem;"><strong>School Registration</strong></a>
    </div>
    <div class="card-body p-3">
        <a href="/studentportal/school/login" class="btn p-5" style="background: linear-gradient(325.27deg, #019633 3.12%, rgba(247, 147, 30, 0.96) 61.51%); color: white; width: 15rem;"><strong>School Login</strong></a>
      </div>
      <div class="card-body p-3">
        <a href="/studentportal/admin/login" class="btn p-5" style="background: linear-gradient(325.27deg, #019633 3.12%, rgba(247, 147, 30, 0.96) 61.51%); color: white; width: 15rem;"><strong>Admin Login</strong></a>
      </div>
  </div>