<%layout('layouts/boilerplate.ejs')%>
<div class="row editpage p-2" style="background: linear-gradient(325.27deg, #019633 3.12%, rgba(247, 147, 30, 0.96) 61.51%); border-radius: 50px;">
    <h1 class="text-center mb-3 pt-4" style="color: white;"><strong>Edit Student Status of <%=foundSchool.schoolname%></strong></h1>
    <div class="col-6 offset-3">
        <form action="/studentportal/school/<%=foundSchool._id%>/student/<%=foundStudent._id%>?_method=PUT" method="post">


        <section style="display: flex; width: 30rem; justify-content: space-between;">
            <div class="mb-3">
                <label class="form-label" for="status" style="color: white;"><strong>Status</strong></label>
                <select id="status" name="status" class="form-control glass" required>
                    <option value="active">active</option>
                    <option value="inactive">inactive</option>
                </select>
            </div>
            <div>
                <label class="form-label" for="age" style="color: white;"><strong>Age</strong></label>
                <input class="form-control glass" type="number" name="age" id="age" required >
                </div>
        </section>

        <section style="display: flex; width: 30rem; justify-content: space-between;">

            <div class="mb-3">
            <label class="form-label" for="class" style="color: white;"><strong>Current Class</strong></label>
            <input class='form-control glass' type="number" name="class" id="class" min="1" max="12" required>
            </div>

            <div>
                <label class="form-label" for="session" style="color: white;"><strong>Session</strong></label>
                <input class="form-control glass" type="number" name="session" id="session" minlength="4" maxlength="4" required >
                </div>
        </section>

            <button class="btn mt-3 mb-3" style="background: linear-gradient(325.27deg, #019633 3.12%, rgba(247, 147, 30, 0.96) 61.51%); color: white;"><strong>Edit Status</strong></button>
        </form>
        <div><a class="btn glass text-white mt-3 mb-5" href="/studentportal">Back to Home</a></div>
    </div>
</div>